name: Run Checks

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read
  id-token: write

jobs:
  check:
    strategy:
      matrix:
        command:
          - NIXPKGS_ALLOW_INSECURE=1 NIXPKGS_ALLOW_UNSUPPORTED_SYSTEM=1 nix flake check --accept-flake-config
          - nix run .#alejandra-custom -- -c . -e ./npins
    uses: ./.github/workflows/nix.yml
    with:
      command: ${{ matrix.command }}

  build:
    needs: check
    uses: ./.github/workflows/build.yml
    secrets: inherit
