name: Update flake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0" # weekly

permissions:
  contents: read
  id-token: write

jobs:
  update:
    if: github.repository == 'notashelf/nyxexprs'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: "${{ secrets.GH_TOKEN}}"

      - name: "Install Nix"
        uses: cachix/install-nix-action@v31.8.2

      - uses: cachix/cachix-action@v16
        with:
          name: nyx
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Update flake
        run: nix flake update

      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "[CI]: update flake inputs"
          push_options: "--force"
          commit_user_name: GitHub Actions

  build:
    needs: update
    uses: ./.github/workflows/build.yml
    secrets: inherit
