name: Update packages

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # daily

permissions:
  contents: read
  id-token: write

jobs:
  update:
    if: github.repository == 'notashelf/nyxexprs'
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GH_TOKEN}}"

      - name: "Install Nix"
        uses: cachix/install-nix-action@v31.8.4

      - uses: cachix/cachix-action@v16
        with:
          name: nyx
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Update npins
        run: nix run nixpkgs#npins update

      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "[CI]: update npins"
          push_options: "--force"
          commit_user_name: GitHub Actions

  build:
    needs: update
    uses: ./.github/workflows/build.yml
    secrets: inherit
